In [1]:
import numpy as np
import pandas as pd
import scipy
from sklearn.preprocessing import LabelEncoder
from sklearn.model_selection import train_test_split
from sklearn.metrics import roc_curve
from sklearn.metrics import roc_auc_score
from sklearn.linear_model import LogisticRegression
from sklearn.mixture import GaussianMixture
from sklearn.ensemble import RandomForestClassifier

In [10]:
train = pd.read_csv("train_1.csv")
train.head(30)

,id,bin_0,bin_1,bin_2,bin_3,bin_4,nom_0,nom_1,nom_2,nom_3,...,nom_9,ord_0,ord_1,ord_2,ord_3,ord_4,ord_5,day,month,target
0,0,0,0,0,T,Y,Green,Triangle,Snake,Finland,...,2f4cb3d51,2,Grandmaster,Cold,h,D,kr,2,2,0
1,1,0,1,0,T,Y,Green,Trapezoid,Hamster,Russia,...,f83c56c21,1,Grandmaster,Hot,a,A,bF,7,8,0
2,2,0,0,0,F,Y,Blue,Trapezoid,Lion,Russia,...,ae6800dd0,1,Expert,Lava Hot,h,R,Jc,7,2,0
3,3,0,1,0,F,Y,Red,Trapezoid,Snake,Canada,...,8270f0d71,1,Grandmaster,Boiling Hot,i,D,kW,2,1,1
4,4,0,0,0,F,N,Red,Trapezoid,Lion,Canada,...,b164b72a7,1,Grandmaster,Freezing,a,R,qP,7,8,0
5,5,0,1,1,T,N,Blue,Polygon,Lion,Costa Rica,...,51e27c16d,1,Novice,Freezing,j,E,PZ,2,2,0
6,6,0,1,1,T,N,Green,Trapezoid,Cat,China,...,7e3d79a0d,2,Grandmaster,Lava Hot,g,P,wy,5,4,0
7,7,1,0,1,T,Y,Red,Triangle,Dog,Russia,...,feb72ecc2,1,Novice,Lava Hot,j,K,Ed,4,2,0
8,8,1,0,1,T,Y,Blue,Square,Hamster,Canada,...,34a7273bf,2,Novice,Boiling Hot,e,V,qo,3,4,0
9,9,0,0,0,F,Y,Red,Trapezoid,Lion,China,...,0ece7a511,1,Expert,Freezing,h,Q,CZ,3,2,0
10,10,0,1,0,T,Y,Green,Star,Snake,China,...,7f5e74721,1,Grandmaster,Boiling Hot,g,R,qX,3,10,0
11,11,0,1,0,T,Y,Blue,Polygon,Snake,Russia,...,01dd99dc0,1,Novice,Freezing,i,Z,su,7,2,0
12,12,0,1,0,F,N,Green,Polygon,Cat,China,...,e82ec9b46,3,Novice,Boiling Hot,g,R,dP,3,3,1
13,13,1,1,1,F,Y,Blue,Trapezoid,Cat,India,...,cba64770e,1,Novice,Boiling Hot,i,V,aP,3,2,1
14,14,0,0,1,T,Y,Blue,Triangle,Snake,India,...,3c915f463,1,Grandmaster,Boiling Hot,d,L,MV,7,7,0
15,15,0,0,1,F,N,Green,Trapezoid,Lion,Russia,...,d445baa4d,1,Contributor,Hot,i,Q,oC,1,9,1
16,16,0,0,0,T,N,Red,Circle,Hamster,Russia,...,21ef6824e,1,Contributor,Boiling Hot,j,F,RL,2,12,0
17,17,0,1,0,T,Y,Green,Star,Lion,Finland,...,332ab0429,1,Master,Cold,i,Q,fh,4,10,1
18,18,0,0,1,T,N,Blue,Square,Lion,China,...,2533756c6,1,Contributor,Freezing,g,V,gJ,3,2,0
19,19,0,0,1,F,N,Red,Polygon,Lion,Russia,...,a1f8ae96a,3,Grandmaster,Boiling Hot,b,L,Hj,1,12,0
20,20,1,0,0,F,Y,Blue,Polygon,Lion,Russia,...,31240cd0f,1,Expert,Boiling Hot,a,L,TR,4,1,0
21,21,0,0,0,F,Y,Blue,Circle,Dog,Russia,...,6397e6ac7,1,Novice,Cold,k,L,CL,2,4,0
22,22,0,1,0,T,N,Blue,Triangle,Lion,Russia,...,4988ea648,1,Grandmaster,Warm,a,R,Sc,1,1,0
23,23,0,0,0,F,Y,Red,Trapezoid,Hamster,Russia,...,89f8bc6ed,3,Grandmaster,Cold,k,T,eQ,1,1,1
24,24,0,0,0,T,N,Green,Polygon,Lion,Costa Rica,...,7f8796416,1,Novice,Cold,f,L,kC,1,9,0
25,25,0,0,0,F,Y,Green,Square,Lion,China,...,50cd6c1fd,2,Grandmaster,Boiling Hot,e,U,qK,4,2,0
26,26,0,0,0,F,Y,Blue,Trapezoid,Dog,Costa Rica,...,9b0d8a2f3,2,Grandmaster,Freezing,k,R,dh,2,3,1
27,27,1,0,0,F,N,Red,Trapezoid,Snake,Russia,...,e19545794,1,Master,Boiling Hot,k,S,eQ,1,7,1
28,28,0,0,1,F,N,Green,Polygon,Lion,Costa Rica,...,6c7322f23,1,Master,Freezing,a,L,gM,3,12,0
29,29,0,0,0,F,Y,Red,Star,Lion,Russia,...,5b3d8a29d,1,Expert,Freezing,h,Y,Jf,1,11,0

In [11]:
test = pd.read_csv("test.csv")
test.head()

,id,bin_0,bin_1,bin_2,bin_3,bin_4,nom_0,nom_1,nom_2,nom_3,...,nom_8,nom_9,ord_0,ord_1,ord_2,ord_3,ord_4,ord_5,day,month
0,300000,0,0,1,T,Y,Blue,Triangle,Axolotl,Finland,...,9d117320c,3c49b42b8,2,Novice,Warm,j,P,be,5,11
1,300001,0,0,0,T,N,Red,Square,Lion,Canada,...,46ae3059c,285771075,1,Master,Lava Hot,l,A,RP,7,5
2,300002,1,0,1,F,Y,Blue,Square,Dog,China,...,b759e21f0,6f323c53f,2,Expert,Freezing,a,G,tP,1,12
3,300003,0,0,1,T,Y,Red,Star,Cat,China,...,0b6ec68ff,b5de3dcc4,1,Contributor,Lava Hot,b,Q,ke,2,3
4,300004,0,1,1,F,N,Red,Trapezoid,Dog,China,...,f91f3b1ee,967cfa9c9,3,Grandmaster,Lava Hot,l,W,qK,4,11

In [12]:
train.nunique()

id        300000
bin_0          2
bin_1          2
bin_2          2
bin_3          2
bin_4          2
nom_0          3
nom_1          6
nom_2          6
nom_3          6
nom_4          4
nom_5        222
nom_6        522
nom_7       1220
nom_8       2215
nom_9      11981
ord_0          3
ord_1          5
ord_2          6
ord_3         15
ord_4         26
ord_5        192
day            7
month         12
target         2
dtype: int64

In [13]:
bin_cols = [col  for col in train.columns.values if col.startswith('bin')]
nom_cols = [col  for col in train.columns.values if col.startswith('nom')]
ord_cols = [col  for col in train.columns.values if col.startswith('ord')]

In [14]:
def ord_to_num(df, col):
    keys=np.sort(df[col].unique())
    values=np.arange(len(keys))
    map = dict(zip(keys, values))
    df[col] = df[col].replace(map)

In [15]:
train.ord_3.dtype

dtype('O')

In [8]:
ord_to_num(test, 'ord_3')
ord_to_num(train, 'ord_3')

In [9]:
ord_to_num(train, 'ord_4')
ord_to_num(test,'ord_4')

In [10]:
ord_to_num(train, 'ord_5')
ord_to_num(test,'ord_5')

In [11]:
keys_ord_1=train.ord_1.unique()
keys_ord_1

array(['Grandmaster', 'Expert', 'Novice', 'Contributor', 'Master'],
      dtype=object)

In [14]:
values_ord_1=[4,2,0,1,3]

In [15]:
map_ord_1 = dict(zip(keys_ord_1, values_ord_1))
map_ord_1

{'Grandmaster': 4, 'Expert': 2, 'Novice': 0, 'Contributor': 1, 'Master': 3}

In [16]:
train['ord_1'] = train['ord_1'].replace(map_ord_1)
test['ord_1'] = test['ord_1'].replace(map_ord_1)

In [17]:
keys_ord_2=train.ord_2.unique()
keys_ord_2

array(['Cold', 'Hot', 'Lava Hot', 'Boiling Hot', 'Freezing', 'Warm'],
      dtype=object)

In [18]:
values_ord_2=[1,3,5,4,0,2]

In [19]:
map_ord_2 = dict(zip(keys_ord_2, values_ord_2))
map_ord_2

{'Cold': 1,
 'Hot': 3,
 'Lava Hot': 5,
 'Boiling Hot': 4,
 'Freezing': 0,
 'Warm': 2}

In [20]:
train['ord_2'] = train['ord_2'].replace(map_ord_2)
test['ord_2'] = test['ord_2'].replace(map_ord_2)

In [21]:
train[ord_cols].head()

   ord_0  ord_1  ord_2  ord_3  ord_4  ord_5
0      2      4      1      7      3    136
1      1      4      3      0      0     93
2      1      2      5      7     17     31
3      1      4      4      8      3    134
4      1      4      0      0     17    158

In [22]:
train[ord_cols].nunique()

ord_0      3
ord_1      5
ord_2      6
ord_3     15
ord_4     26
ord_5    192
dtype: int64

In [23]:
train['ord_4_band'] = pd.qcut(train['ord_4'], 6)
bands=train.ord_4_band.unique()
keys_bands=np.sort(bands)
values_bands=np.arange(len(keys_bands))
map_bands = dict(zip(keys_bands, values_bands))

In [26]:
train['ord_4_band'] = train['ord_4_band'].replace(map_bands)
test['ord_4_band']=pd.cut(test.ord_4,pd.IntervalIndex(keys_bands))

In [27]:
test['ord_4_band'] = test['ord_4_band'].replace(map_bands)
test.ord_4_band.head()

0    3
1    0
2    1
3    3
4    5
Name: ord_4_band, dtype: int64

In [28]:
train['ord_5_band'] = pd.qcut(train['ord_5'], 6)
bands=train.ord_5_band.unique()
keys_bands=np.sort(bands)
values_bands=np.arange(len(keys_bands))
map_bands = dict(zip(keys_bands, values_bands))

In [29]:
train['ord_5_band'] = train['ord_5_band'].replace(map_bands)
test['ord_5_band']=pd.cut(test.ord_5,pd.IntervalIndex(keys_bands))

In [30]:
test['ord_5_band'] = test['ord_5_band'].replace(map_bands)
test.ord_5_band.head()

0    3
1    1
2    5
3    4
4    4
Name: ord_5_band, dtype: int64

In [31]:
train[nom_cols].nunique()

nom_0        3
nom_1        6
nom_2        6
nom_3        6
nom_4        4
nom_5      222
nom_6      522
nom_7     1220
nom_8     2215
nom_9    11981
dtype: int64

In [32]:
test[nom_cols].nunique()

nom_0        3
nom_1        6
nom_2        6
nom_3        6
nom_4        4
nom_5      222
nom_6      522
nom_7     1219
nom_8     2214
nom_9    11839
dtype: int64

In [33]:
for col in ["nom_7", "nom_8", "nom_9"]:
    train_vals = set(train[col].unique())
    test_vals = set(test[col].unique())
   
    ex=train_vals ^ test_vals
    if ex:
        train.loc[train[col].isin(ex), col]="x"
        test.loc[test[col].isin(ex), col]="x"

In [34]:
train[nom_cols].nunique()

nom_0        3
nom_1        6
nom_2        6
nom_3        6
nom_4        4
nom_5      222
nom_6      522
nom_7     1220
nom_8     2211
nom_9    11753
dtype: int64

In [35]:
test[nom_cols].nunique()

nom_0        3
nom_1        6
nom_2        6
nom_3        6
nom_4        4
nom_5      222
nom_6      522
nom_7     1219
nom_8     2211
nom_9    11753
dtype: int64

In [36]:
train[train.nom_7=='x']

,id,bin_0,bin_1,bin_2,bin_3,bin_4,nom_0,nom_1,nom_2,nom_3,...,ord_1,ord_2,ord_3,ord_4,ord_5,day,month,target,ord_4_band,ord_5_band
290602,290602,0,0,0,F,N,Blue,Square,Lion,Costa Rica,...,0,0,7,24,130,2,12,0,5,4

In [37]:
train=train[train.nom_7!='x']

In [38]:
train[train.nom_7=='x']

Empty DataFrame
Columns: [id, bin_0, bin_1, bin_2, bin_3, bin_4, nom_0, nom_1, nom_2, nom_3, nom_4, nom_5, nom_6, nom_7, nom_8, nom_9, ord_0, ord_1, ord_2, ord_3, ord_4, ord_5, day, month, target, ord_4_band, ord_5_band]
Index: []

[0 rows x 27 columns]

In [39]:
labelEnc=LabelEncoder()

In [41]:
for col in nom_cols:
    train[col]=labelEnc.fit_transform(train[col])
    test[col]=labelEnc.fit_transform(test[col])

In [42]:
train[nom_cols].head()

   nom_0  nom_1  nom_2  nom_3  nom_4  nom_5  nom_6  nom_7  nom_8  nom_9
0      1      5      5      3      0     78    120    490   1682   2141
1      1      4      3      5      2    159    510    259    649  11413
2      0      4      4      5      3     44     14    765   1928   7929
3      2      4      5      0      1    209    165   1120    628   5949
4      2      4      4      0      1     90     61     34   1756   8081

In [43]:
train[bin_cols].head()

   bin_0  bin_1  bin_2 bin_3 bin_4
0      0      0      0     T     Y
1      0      1      0     T     Y
2      0      0      0     F     Y
3      0      1      0     F     Y
4      0      0      0     F     N

In [44]:
for col in ['bin_3', 'bin_4']:
    train[col]=labelEnc.fit_transform(train[col])
    test[col]=labelEnc.fit_transform(test[col])

In [45]:
test[bin_cols].head()

   bin_0  bin_1  bin_2  bin_3  bin_4
0      0      0      1      1      1
1      0      0      0      1      0
2      1      0      1      0      1
3      0      0      1      1      1
4      0      1      1      0      0

# One Hot Encoding

In [46]:
X_temp=train.drop('target', axis=1)
Y=train.target

In [70]:
train.to_csv('train_new.csv', index=False)

In [49]:
gm = GaussianMixture(n_components=4)
gm.fit(X_temp)

GaussianMixture(covariance_type='full', init_params='kmeans', max_iter=100,
        means_init=None, n_components=4, n_init=1, precisions_init=None,
        random_state=None, reg_covar=1e-06, tol=0.001, verbose=0,
        verbose_interval=10, warm_start=False, weights_init=None)

In [50]:
X_temp['Gaussian_Mixture']=gm.predict(X_temp)

In [51]:
test['Gaussian_Mixture']=gm.predict(test)

In [52]:
X_oh_temp=pd.get_dummies(X_temp.drop('id', axis=1), columns=X_temp.drop('id', axis=1).columns, drop_first=True, sparse=True)

In [53]:
X_oh=scipy.sparse.csr_matrix(X_oh_temp.values)

In [54]:
X_oh

<299999x16218 sparse matrix of type '<class 'numpy.uint8'>'
	with 5726120 stored elements in Compressed Sparse Row format>

In [57]:
X_oh.shape

(299999, 16218)

In [55]:
test_oh_temp=pd.get_dummies(test.drop('id', axis=1), columns=test.drop('id', axis=1).columns, drop_first=True, sparse=True)

In [56]:
test_oh_temp.shape

(200000, 16218)

In [58]:
test_oh=scipy.sparse.csr_matrix(test_oh_temp.values)

In [59]:
X_train, X_valid, Y_train, Y_valid = train_test_split(X_oh, 
                                                      Y, 
                                                      test_size = 0.20,
                                                      random_state=42)

In [64]:
scipy.sparse.save_npz('X_oh.npz', X_oh)

In [65]:
scipy.sparse.save_npz('test_oh.npz', test_oh)